<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='./css/style.css' media="screen">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <title>
       Raspberry Creek Village
    </title>
</head>
<body>
    <div class="top">
        <h1>Raspberry Creek Village</h1>
        <nav>
            <div class="nav-bar">
                <a href="/">Home</a> |
                <a href="/guests">Guests</a> |
                <a href="/rentals">Rentals</a> |
                <a href="/rental_types">Rental_Types</a> |
                <a href="/employees">Employees</a> |
                <a href="/bookings">Bookings</a> |
                <a href="/bookings_guests">Bookings_Guests</a>
            </div>
        </nav>
    </div>
    {{{ body }}}
</body>

</html>