<h1>Guests Bookings</h1>

[ <a href="/">Home Page</a> |
<a href="/guests">Guests</a> |
<a href="/rentals">Rentals</a> |
<a href="/rental_types">Rental Types</a> |
<a href="/employees">Employees</a> |
<a href="/bookings">Bookings</a> |
<a href="/bookings_guests">Guests Bookings</a> ]


<div id="browse" style="display: block"></div>
<p><strong>Browse Guests Bookings</strong></p>
<table border="1" cellpadding="5">
<thead>
    <tr>
        <th>booking id</th>
        <th>guest</th>
    </tr>
</thead>
{{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.booking_id}}</td>
            <td>{{this.name}}</td>
        </tr>
        {{/each}}
    </tbody>

    </table>
</div>

