
    <h1>Sorry! There was an error. </h1>
    <h3>The option you tried to delete is currently being used.</h3>

    <img src="./img/raspberry.png" alt="credit: @designalikie" width="200" height="200">
    <p>img by: @designalikie</p>