<h1>Welcome To Raspberry Creek Village!</h1>

[ <a href="/">Home Page</a> |
<a href="/guests">Guests</a> |
<a href="/rentals">Rentals</a> |
<a href="/employees">Employees</a> |
<a href="/bookings">Bookings</a> ]

<h2>About Us:</h2>
<p>Raspberry Creek is a collection of small rental units on a large property in the Canadian Rockies. We offer all year vacation rentals. The land has 6 rentals, all of different styles. They have 3 Yurts, 1 bus converted into a home, and 2 tiny houses. Additionally
they have 3 campsites which can be booked only in the summer. The company is looking to build a database to manage bookings, guests, and employees. Each employee is assigned their own rentals to take care of (clean and prepare for the next guest)</p>